sysname USG6000V1
#
telnet server enable
ssh server enable
#
firewall zone trust
 add interface GigabitEthernet1/0/0
firewall zone untrust
 add interface GigabitEthernet1/0/1
firewall zone dmz
 add interface GigabitEthernet1/0/2
#
security-policy
 rule name allow_trust_untrust
  source-zone trust
  destination-zone untrust
  action permit
 rule name deny_default
  source-zone any
  destination-zone any
  action deny
 rule name to-i
  source-zone trust
  destination-zone untrust
  action permit
 rule name any_any_permit
  source-zone any
  destination-zone any
  action permit
#
nat address-group group1 0
 section 0 200.1.1.1 200.1.1.10
#
nat server web_server 1 zone untrust protocol tcp global 200.1.1.10 80 inside 10.64.5.80 80
nat server ssh_server 2 zone untrust protocol tcp global 200.1.1.11 22 inside 10.64.5.79 22
#
nat-policy
 rule name nat_out
  source-zone trust
  destination-zone untrust
  action source-nat address-group group1
#
acl number 3000
 rule 5 permit ip source 192.168.1.0 0.0.0.255 destination 10.0.0.0 0.0.0.255
 rule 10 permit ip
#
acl number 3001
 rule 5 permit ip source any destination any
#
interface GigabitEthernet1/0/0
 ip address 192.168.1.1 255.255.255.0
 service-manage telnet permit
 service-manage http permit
 service-manage ssh permit
#
interface GigabitEthernet1/0/1
 ip address 200.1.1.2 255.255.255.0
 service-manage http permit
#
interface GigabitEthernet1/0/2
 ip address 172.16.0.1 255.255.255.0
#
undo firewall log source
#
ntp-service disable
#
ip route-static 0.0.0.0 0.0.0.0 200.1.1.254
ip route-static 10.0.0.0 255.0.0.0 192.168.1.254
#
aaa
 local-user admin password cipher admin@123
 local-user admin privilege level 15
 local-user admin service-type telnet ssh
 local-user monitor password simple Passw0rd
 local-user monitor privilege level 5
 local-user monitor service-type ftp
